    <% provide(:title, "Editar nota #{@note.name}") %>
    <%= render "shared/error_messages", object: @note %>
    <div class="page-folder">
    <%= render 'shared/folder_toolbar' %>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="card form-inputs top-20 p-20">
                <%= form_for(@note) do |f| %>
                    <div class="input-field">
                        <i class="ion-android-create prefix"></i>
                        <%= f.text_field :name, class: "validate", placeholder: "Título de la nota" %>
                    </div>

                    <%= f.text_area :body, id: 'trumbowyg', placeholder: "Escribe una nota..." %>

                    <% if current_user.admin? %>
                      <div class="file-field input-field">
                      <div class="btn file secondary-color">
                          <span>Foto opcional</span>
                          <%= f.file_field :notespic, accept: 'image/jpeg,image/gif,image/png' %>
                      </div>
                      <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                      </div>
                      </div>
                    <% end %>
                
                    <div class="input-field">
                        <i class="ion-pound prefix"></i>
                        <%= f.text_field :tag_list, placeholder: "Ej: programación, algebra, calculo", class: "form-control", maxlength: "230" %>
                    </div>

                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :group_id, value: @group.id %>
                        
                    <%= f.submit "Editar nota", class: "btn-waves-effect file waves-light btn-large accent-color block animated bouncein delay-6", data: { disable_with: "Creando nota..." } %>            
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <script> 
    $(document).ready(function() {
        $('#trumbowyg')
        .trumbowyg({
            svgPath: '<%= image_path("icons.svg")%>',
            btns: [
                ['viewHTML'],
                ['noembed'],
                ['formatting'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ]
        });           
    });
    </script> 
<%= render 'shared/folder_nav' %>