<% provide(:title, "Nota #{@note.name}") %>
<%= render 'shared/folder_toolbar' %>
      <div class="page animated fadeinup">
        <div class="hero-material accent-color animated fadeindown">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <div class="fixed-action-btn floating-button animated bouncein delay-3 horizontal">
                  <div class="btn-floating btn-large secondary-color">
              <% if current_user.saving?(@note) %>
                <%= render "unsave" %>
              <% else %>
                <%= render "save" %>
              <% end %>
                  </div>
                </div>
                <div class="banner-title p-20"><%= @note.name %></div>
              </div>
            </div>
          </div>            
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col s12">        
              <% if current_user %>
                <div class="card-feedback">
                  <div class="card-users">
                      <%= link_to note_up_vote_path(@note), method: :post, remote: true do %>
                        <i class="ion-arrow-up-b"></i> 
                      <% end %> 
                      <%= content_tag :span, id: "note-upvote-#{@note.id}" do %>
                        <%= @note.up_votes %>
                      <% end %>
                      <%= link_to note_down_vote_path(@note), method: :post, remote: true do %>
                        <i class="ion-arrow-down-b"></i>
                      <% end %> 
                      <%= content_tag :span, id: "note-downvote-#{@note.id}" do %>
                        <%= @note.down_votes %>
                      <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div> 

        <!-- Article Content -->
        <div class="container">
          <div class="row">
            <div class="col s12">
              <div class="animated fadeinup delay-1">
                <div class="p-20">
                  <div>
                    <% @note.tags.each do |tag| %>
                      #<%= link_to tag.name, tag_path(tag) %> 
                    <% end %>
                  </div>
                  <br>
                  <div class="regular"><%= sanitize @note.body %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col s12">
              <div class="media-share-author media-author animated fadeinright delay-2">
                <% if @note.user.userspic.present? %>
                    <%= link_to image_tag(@note.user.userspic.url(:picture_display), class: 'avatar'), user_path(@note.user.id) %>
                  <% elsif @note.user.remote_avatar.present? %>
                    <%= link_to image_tag(@note.user.remote_avatar, class: 'avatar'), user_path(@note.user.id) %>
                  <% else %>
                    <%= link_to image_tag("noprofile.png", class: 'avatar'), user_path(@note.user.id) %>
                <% end %>
                <span><%= link_to @note.user.username.capitalize, user_path(@note.user.id) %>
                <% if @note.user.admin? %>
                  <i class="ion-checkmark-circled"></i>  
                <% end %>
                </span>
                <% if logged_in? && (@note.user==current_user || current_user.admin?) %>
                  <div class="media-social-share">
                    <%= link_to edit_note_path(@note) do %>
                      <i class="ion-android-create"></i>  
                    <% end %>
                    <%= link_to note_path(@note), method: :delete, data:{confirm: "¿Estás seguro que quieres eliminar esta nota?"} do %>
                      <i class="ion-android-delete"></i>  
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div> 

<%= render 'shared/folder_nav' %>