    <% provide(:title, 'Resend Confirmation') %>
    <div class="form-body white">
        <div class="website-logo">
            <a href="index.html">
                <div class="logoland">
                <%= link_to root_path do %>
                  <img class="logo-size" src="https://res.cloudinary.com/swarmly/image/upload/v1547543630/logo.svg" alt="">
                <% end %>                    
                </div>
            </a>
        </div>
        <div class="gridland">
            <div class="img-holder">
                <div class="bg"></div>
            </div>
            <div class="form-holder">
                <div class="form-content white">
                    <div class="form-items regular">
                        <h3>Empieza a compartir y aprender.</h3>
                        <p class="regular">Crea grupos, clips, notas y encuentra una Zona Swarmly donde puedas aprender.</p>
                        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                          <%= devise_error_messages! %>
                          <%= f.email_field :email, placeholder: "Correo", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                          <div class="form-button">
                            <%= button_tag(type: "submit", class: "ibtn") do %>
                                Enviar confirmación
                            <% end %>
                          </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>