<% provide(:title, 'Crear nuevo clip') %>
<%= render 'shared/folder_toolbar' %>
            <%= render "shared/error_messages", object: @clip %>
            <div class="page-folder animated fadeinup">
              <div class="container">
                <div class="row">
                  <div class="col s12 m6 offset-m3">
                    <div class="card form-inputs top-20 p-20">
                        <%= form_for(@clip, url: group_clips_path(@group)) do |f| %>
                            <div class="input-field animated fadeinright">
                                <%= f.text_field :caption, class: "validate", placeholder: "Describe este Clip" %>
                            </div>
                                
                            <%= f.fields_for :image do |ff| %>    
                              <div class="file-field input-field">
                                <div class="btn secondary-color">
                                    <span>Archivos</span>
                                    <%= f.file_field :image, multiple: true, name: "attachments[]" %>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                              </div>
                            <% end %>

                            <%= f.hidden_field :user_id, value: current_user.id %>
                            <%= f.hidden_field :group_id, value: @group.id %>
                                
                            <%= f.submit "Crear clip", class: "btn-waves-effect waves-light btn-large accent-color block animated bouncein delay-6", data: { disable_with: "Creando clip..." } %>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
<%= render 'shared/folder_nav' %>