    <% provide(:title, "Comentarios de grupo #{@group.name}") %>
    <div id="toolbar" class="primary-color z-depth-1">
      <div class="logo-container">
          <%= link_to root_path do %>
            <img class="logo" src="https://res.cloudinary.com/swarmly/image/upload/v1547543630/logo.svg" alt="swarmly">
          <% end %>
      </div>
      <div class="toolbar-item">
        <% if logged_in? %>
          <% if current_user.is_member_of?(@group) %>
            <%= link_to quit_group_path(@group),method: :post do %>
              <img src="https://res.cloudinary.com/swarmly/image/upload/v1557984768/iconrest.svg" style="width:30.63px;height:34.67px;margin-right:20px" alt="swarmly">
            <% end %>
          <% else %>
            <%= link_to join_group_path(@group),method: :post do  %>
              <img src="https://res.cloudinary.com/swarmly/image/upload/v1557990449/iconsum.svg" style="width:30.63px;height:34.67px;margin-right:20px" alt="swarmly">
            <% end %>
          <% end %>
          <%= link_to group_clips_path(@group) do %>
            <i class="ion-android-folder secondary-text"></i>
          <% end %>
        <% else %> 
          <%= link_to new_user_session_path do %>
              <i class="ion-android-open"></i>
          <% end %>
        <% end %>
      </div>        
    </div> 
    <% if logged_in? %>
      <div class="page-chat">
        <%= form_for([@group, @comment], remote: true, :html => {class: "regular", role: "form"}) do |f| %>
          <div class= "write-message z-depth-1">
            <div class="write-field">
              <%= f.text_field :description, placeholder: "Enviar mensaje..." %>
            </div>
            <%= button_tag(type: "submit", class: "send-button accent-color") do %>
              <i class="ion-android-send send-message white-text"></i>
            <% end %>
        </div>
    <% end %>
    <div class="chat p-20" style="margin-bottom:30px">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div id="messages">
              <%= render(partial: "comments/comments", object: @comments) %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>