    <% provide(:title, 'Todos los usuarios') %>
<%= render 'layouts/navigation' %>
<%= render 'shared/bottom_nav' %>
    <div class="page animated fadeinup">
            <div class="container">
              <div class="row">
                <div class="col s12 m6 offset-m3">
                  <% if current_user.admin? %>
                    <div class="user-card animated fadein delay-1">
                      <div class="user-header">
                        <span class="users-count-label">
                          <i class="ion-android-people"></i>
                        </span>        
                        <div class="user-info">
                          <span>Hola <%= current_user.fullname %>, hay <%= @users.count %> usuarios en Swarmly</span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <%= render @users %>
                </div>
              </div>
            </div>
    </div>

