<% @user ||= current_user %>
          <div>
            <a href="<%= followers_user_path(@user) %>">
            <div id="followers">
            <h3 class"strong"><%= @user.followers.count %></h3>
            </div>
            <p class="charcoal-text">Seguidores</p>
            </a>
          </div>
          <div>
            <a href="<%= following_user_path(@user) %>">
            <div id="followers">
            <h3 class"strong"><%= @user.following.count %></h3>
            </div>
            <p class="charcoal-text">Siguiendo</p>
            </a>
          </div>
          <div>
            <a href="<%= user_path(@user) %>">
            <h3 class"strong"><%= @user.groups.count %></h3>
            <p class="charcoal-text">Grupos</p>
            </a>
          </div>
