    <% provide(:title, 'Crear Zona Swarmly') %>
    <%= render 'shared/folder_toolbar' %>
    <%= render "shared/error_messages", object: @zone %>
    <div class="page-folder animated fadeinup">
    <div class="container">
        <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card form-inputs top-20 p-20">
                <%= form_for(@zone, url: group_zones_path(@group)) do |f| %>
                    <div class="input-field animated fadeinright">
                        <%= f.text_field :name, class: "validate", placeholder: "Nombre de tu Zona Swarmly" %>
                    </div>

                    <div id="locationField">
                    <%= f.text_field :address, class: "validate", id: "autocomplete", onFocus: "geolocate()", type: "text" %>
                    </div>

                    <div class="input-field animated fadeinright">
                        <%= f.text_field :day, class: "validate", placeholder: "Día de encuentro" %>
                    </div>

                    <div class="input-field animated fadeinright">
                        <%= f.text_field :hour, class: "validate", placeholder: "Hora de encuentro" %>
                    </div>

                    <div class="input-field animated fadeinright">
                        <%= f.text_field :price, class: "validate", placeholder: "Monto en dólares por hora (opcional)" %>
                    </div>

                    <div class="file-field input-field">
                    <div class="btn file secondary-color">
                        <span>Foto</span>
                        <%= f.file_field :zonespic, accept: 'image/jpeg,image/gif,image/png' %>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    </div>

                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :group_id, value: @group.id %>

                    <%= f.submit "Crear Zona Swarmly", class: "btn-waves-effect waves-light btn-large accent-color block animated bouncein delay-6", data: { disable_with: "Creando Zona Swarmly..." } %>
                <% end %>
            </div>
        </div>
        </div>
    </div>
    </div>
    <%= render 'shared/folder_nav' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&callback=initAutocomplete" %>
    <%= javascript_include_tag('autocomplete.js', defer: "defer") %>