<% provide(:title, "Zona Swarmly #{@zone.name}") %>
<%= render 'shared/folder_toolbar' %>
<div class="page animated fadeinup">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card m-20 animated fadeinup delay-5">
          <div class="card-author">
            <div class="media-top-object middle p-10 m-0">
              <% if @zone.user.userspic.present? %>
                  <%= link_to image_tag(@zone.user.userspic.url(:picture_display), class: 'media-left avatar small'), user_path(@zone.user.id) %>
              <% elsif @zone.user.remote_avatar.present? %>
                  <%= link_to image_tag(@zone.user.remote_avatar, class: 'media-left avatar small'), user_path(@zone.user_id) %>
              <% else %>
                  <%= link_to image_tag("noprofile.png", class: 'media-left avatar small'), user_path(@zone.user.id) %>
              <% end %>																
              <div class="media-body">
                <span><%= link_to @zone.user.username.capitalize, user_path(@zone.user.id) %>
                <% if @zone.user.admin? %>
                    <i class="ion-checkmark-circled"></i>  
                <% end %>
                </span>       
              </div>
              <% if logged_in? && (@zone.user==current_user || current_user.admin?) %>
                <div class="group-actions">
                    <%= link_to edit_zone_path(@zone) do %>
                            <i class="ion-android-create group-action"></i>  
                    <% end %>
                    <%= link_to zone_path(@zone), method: :delete, data:{confirm: "¿Seguro que quieres eliminar esta Zona Swarmly?"} do %>
                        <i class="ion-android-delete group-action"></i>  
                    <% end %>
                </div>
              <% end %>
            </div>
          </div>
            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@zone.latitude},#{@zone.longitude}&zoom=14&size=640x400&markers=color:black%7C#{@zone.latitude},#{@zone.longitude}&key=#{ENV['GOOGLE_API_KEY']}" %>
        </div>
        <ul class="collapsible m-20 regular">
          <li>
            <div class="collapsible-header"><i class="ion-android-list accent-text"></i>Descripción</div>
            <div class="collapsible-body"><span><%= @zone.name %></span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-calendar accent-text"></i>Fecha y hora de encuentro</div>
            <div class="collapsible-body"><span><%= @zone.day %>, <%= @zone.hour %></span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-pin accent-text"></i>Ubicación</div>
            <div class="collapsible-body"><span><%= @zone.address %></span></div>
          </li>
          <% if @zone.price? %>
          <li>
            <div class="collapsible-header"><i class="ion-pricetag accent-text"></i>Monto a cobrar por hora</div>
            <div class="collapsible-body"><span><%= @zone.price %> dólares</span></div>
          </li>	
          <% end %>											
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/folder_nav' %>

<script type="text/javascript">
  $(document).ready(function(){
      $('.collapsible').collapsible();
  });
</script>