            <%= render "shared/error_messages", object: @category %>
            <div class="page animated fadeinup">
              <div class="container">
                <div class="row">
                  <div class="col s12 m6 offset-m3">
                    <div class="card form-inputs top-20 p-20">
                      <%= form_for(@category) do |f| %>
                        <div class="input-field animated fadeinright">
                          <%= f.text_field :name, class: "validate", placeholder: "Nombre" %>
                        </div>
                        
                      <div class="file-field input-field">
                        <div class="btn secondary-color">
                          <span>Foto</span>
                          <%= f.file_field :categoriespic, accept: 'image/jpeg,image/gif,image/png' %>
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                        </div>
                      </div>
                        <%= f.submit(@category.new_record? ? "Crear nueva" : "Editar",
                                                    class: "btn-waves-effect waves-light btn-large accent-color block animated bouncein delay-6", data: { disable_with: "Espera..." }) %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div> 