    <div id="toolbar" class="primary-color z-depth-1">
      <div class="logo-container">
        <a href="/">
          <img class="logo" src="https://res.cloudinary.com/swarmly/image/upload/v1560995138/logo_s.svg" alt="swarmly">
        </a>        
      </div>
      <% if logged_in? %>
        <div class="toolbar-item">
          <a href="/groups/new">
            <i class="ion-compose"></i>
          </a>            

          <% if Notification.unread_count(current_user) != 0 %>
              <%= link_to notifications_path do %>
                  <i class="ion-android-notifications  red-text text-lighten-1"></i>
              <% end %>
          <% else %>
              <%= link_to notifications_path do %>
                  <i class="ion-android-notifications"></i>
              <% end %>
          <% end %>
          
          <% if current_user.userspic.present? %>
            <a href="/users/<%= "#{current_user.id}" %>">
              <%= image_tag(current_user.userspic.url(:picture_display), class: 'media-left avatar small') %>
            </a>
          <% elsif current_user.remote_avatar.present? %>
            <a href="/users/<%= "#{current_user.id}" %>">              
              <%= image_tag(current_user.remote_avatar, class: 'media-left avatar small') %>
            </a>
          <% else %>
            <a href="/users/<%= "#{current_user.id}" %>">
              <%= image_tag("noprofile.png", class: 'media-left avatar small') %>
            </a>
          <% end %>
        </div> 
      <% else %>
        <div class="toolbar-item">
          <a href="/users/sign_in">
            <i class="ion-log-in"></i>
          </a>        
        </div>
      <% end %>
    </div>